{% extends "TroiswaBackBundle::layout.html.twig" %}

{# permet l'héritage

$this extends "troiswaBackBundle:default:master.html.twig"
                                 _______
#}
{% block content %}
    <h1>liste de nos catégories !</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>titre</th>
                <th>description</th>
            </tr>
            </thead>
            <tbody>
            {% for allCategories in categories %}
                <tr>
                    <td>{{ allCategories.id }}</td>
                    <td>{{ allCategories.titre }}</td>
                    <td>{{ allCategories.description }}</td>
                    <td><a class="btn btn-primary" href="">Voir</a><a class="btn btn-warning" href="">Editer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}