<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
    <title>Master</title>
</head>
<body>
<header>
  {%  block header %}
    <p>menu de navigation</p>
  {% endblock %}
</header>
        <section>
            {% block main %}
                <h2>theme</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusamus amet dolores sequi sunt vero!
                    Adipisci assumenda facilis illo iusto labore
                    necessitatibus nemo praesentium sint voluptatum?
                    Accusamus doloribus ea quod voluptates.</p>
            {% endblock %}
        </section>
</body>
</html>




















































































































































































































































































































